body {
  height: 1700px;
  background-color: #e8e8e8;
}
.back {
  margin-left: auto;
  margin-right: auto;
  width: 1190px;
  height: 1300px;
  background: url(img/ellipse.png) no-repeat;
}

p.travel {
  font-family: Arial;
  font-size: 14px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #273d46;
  text-align: center;
  margin-top: 100px;
}
.back h1 {
  font-family: "Times New Roman";
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
  color: #273d46;
  text-align: center;
}

.man {
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 15px 65px 0px rgba(15, 16, 16, 0.15);
  border: white;
  border-width: 10px;
  border-style: solid;
}

.back h2 {
  width: 750px;
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.8;
  font-family: "Times New Roman";
  font-size: 24px;
  line-height: 40px;
  font-weight: 400;
  color: #273d46;
  text-align: justify;
}
.list {
  font-family: Arial;
  font-size: 20px;
  line-height: 36px;
}
.list li {
  padding-left: 30px;
  background: url(img/icon.png) left no-repeat;
  margin-left: 220px;
}
li.one {
  font-weight: 400;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  color: #273d46;
}
li.two {
  font-weight: 400;
  font-style: italic;
  color: #80b7b3;
}
li.three {
  font-weight: 700;
  color: #273d46;
}
li.four {
  font-weight: 400;
  text-decoration: line-through;
  color: #273d46;
}
.li_op {
  opacity: 0.3;
}
.button {
  width: 199px;
  height: 44px;
  box-shadow: 0px 6px 40px 0px rgba(128, 183, 179, 0.54);
  background-color: #80b7b3;
  border-radius: 5cm;
  margin-left: 220px;
  margin-top: 50px;
}
.button p {
  font-family: Arial;
  font-size: 14px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background: url(img/shape.png) right no-repeat;
  margin-right: 20px;
  padding-top: 5px;
  text-align: center;
}
.footer {
  height: 100px;
}
